<form hx-post="/sse-chat/post-message" hx-swap="outerHTML">
  <div class="flex justify-between">
    <input
      type="text"
      id="message_username"
      name="message_username"
      value="{{ username|default('Anonymous') }}"
      placeholder="Username"
      class="flex-1 p-2 border rounded"
    />
    <input
      type="text"
      id="message_content"
      name="message_content"
      placeholder="Type your message here..."
      class="flex-1 p-2 border rounded"
      autofocus
    />
    <button
      class="ml-2 bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded text-sm"
    >
      Send
    </button>
  </div>
</form>
